.body {
  background-color: #303134;
  border-radius: 5px;
}

@media (min-width: 900px) {
    .body {
      margin: 5% 20%;
      padding: 2.5% 5%;
    }
}

@media (max-width: 900px) {
    .body {
      margin: 2.5% 10%;
      padding: 2.5% 5%;
    }
}